@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
header{
    background-color: rgb(26, 26, 26);
    text-align: center; 
    padding: 10px;
}
.h1header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    padding-left: 20px;
    color: white;
}
.container{
    display: inline-flex;
    align-items: center;
    
}

.principal{
    color: rgb(255, 255, 255);
    padding: 0px 5px 10px 5px;
    
}
div{
    display: inline
    width: 200px;
    height: 200px;
    margin: 0px;
}

h1{
    color: green
    padding: 10px;  
    
    
    
}
nav {
    background-color: rgb(201, 60, 14);
    padding: 1px 3px 3px 3px;
    text-align: center;
    
}
.barralink>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px 9px 11px 9px;
    font-weight: lighter;  
}
.barralink{
    width: 450px;
    height: 10px;
    background-color: transparent;
    margin: auto;
    padding: 8px;
    
}
.barralink>a:hover{
    background-color: rgb(214, 214, 214);
    color: black; 
    border-radius: 5px 5px 0px 0px; 
}
main{
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    background-color: rgb(214, 214, 214);
    padding: 20px;
}
div.video{
    
    /*background-color: aqua;*/ /*azul só para identificar o espaço que ocupa*/
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 20px;
    position: relative;
    padding-bottom: 30%; /*regula a altura da div.video*/
}
div.video> iframe {
    position: absolute;
    top: 5%; /*regula a distância do iframe ao topo da div.video*/
    left: 5%; /*regula a distância do iframe da esquerda da div.video, considerando o padding da div*/
    width: 90%;
    height: 90%;

}
article{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
   

}
p {
    padding: 10px;
    text-align: justify;
}
