@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(26, 26, 26);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
header{
    background-color: rgb(26, 26, 26);
    text-align: center; 
    padding: 10px;
}
.h1header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    padding-left: 20px;
    color: white;
}
.container{
    display: inline-flex;
    align-items: center;
    
}

.principal{
    color: rgb(255, 255, 255);
    padding: 0px 5px 10px 5px;
    
}
.container{
    display: inline
    width: 200px;
    height: 200px;
    margin: 0px;
}


nav {
    background-color: rgb(201, 60, 14);
    min-height: 18px;
    padding: 9px;
    text-align: center;
    
}
.barralink{
    
    padding: 3px;
}
.barralink>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 3.5px 20px;
    
    font-weight: lighter;  
    
}

.barralink>a:hover{
    background-color: rgb(226, 192, 0);
    color: rgb(26, 26, 26);
    border-radius: 5px 5px; 
}
main{
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    background-color: rgb(214, 214, 214);
    padding: 20px;
}

.video{
    
    /*background-color: aqua;*/ /*azul só para identificar o espaço que ocupa*/
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 20px;
    position: relative;
    padding-bottom: 53.5%; /*regula a altura da div.video*/
}
.video> iframe {
    position: absolute;
    top: 5%; /*regula a distância do iframe ao topo da div.video*/
    left: 5%; /*regula a distância do iframe da esquerda da div.video, considerando o padding da div*/
    width: 90%;
    height: 90%;

}
article{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
   

}
h1{
    padding: 10px
}
p {
    padding: 10px;
    text-align: justify;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(27, 27, 27);
    font-style: oblique;
}
